<!DOCTYPE html>
<html>
<head>
    <title>OSM-Changesets API</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
     <link href="../../../static/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-bold text-center mt-4">Welcome to the Changeset API</h1>
        <p class="text-lg text-center mt-2">This is the API for accessing changeset data from OpenStreetMap.</p>
        
        <div class="max-w-xl mx-auto bg-white p-6 mt-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Usage</h2>
            <p class="text-lg mb-4">To fetch changesets in a range, use the form below:</p>
            
            <form id="changesetForm" class="space-y-4">
                <div>
                    <label for="seq_start" class="block text-lg font-medium text-gray-700">Sequence Start</label>
                    <input type="number" id="seq_start" name="seq_start" class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                </div>
                <div>
                    <label for="seq_end" class="block text-lg font-medium text-gray-700">Sequence End</label>
                    <input type="number" id="seq_end" name="seq_end" class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md">Get Changesets</button>
                </div>
            </form>

            <h2 class="text-2xl font-bold mb-4 mt-4">The last sequence number is:</h2>
            <button id="last_changeset_btn" class="flex w-fit mx-auto text-xl font-bold bg-green-700 text-white text-center px-4 py-2 rounded">{{ last_changeset_id }}</button>
        </div>
    </div>

    <script>
        document.getElementById('changesetForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const seqStart = document.getElementById('seq_start').value;
            const seqEnd = document.getElementById('seq_end').value;
            window.location.href = `/api/sequence/${seqStart}/${seqEnd}/`;
        });

        document.getElementById('last_changeset_btn').addEventListener('click', function() {
            var lastChangesetId = this.innerHTML;
            document.getElementById('seq_end').value = lastChangesetId;
        });
    </script>
</html>
